/*-- scss:defaults --*/
$theme-blue: #8ECAE6;
$theme-teal: #219EBC;
$theme-navy: #023047;
$theme-red: #D7263D;
$theme-cream: #F3D3BD;
$theme-white: #FFFFFF;
$theme-code-bg: rgba(233, 236, 239, .3);

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");

// Colors ----------------------------------------------------------------------
$link-color: $theme-red;
$link-decoration: none;

$link-shade-percentage: 20%;
$link-hover-color: shift-color($link-color, $link-shade-percentage);
$link-hover-decoration: underline;

// Fonts -----------------------------------------------------------------------
$font-family-serif: 'Playfair Display', serif;
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-monospace: 'Fira Code', monospace;

$h1-font-size: 2.4em;

$footer-font-family: 'Open Sans', sans-serif;

// Code ------------------------------------------------------------------------

$code-color: $theme-blue;

// Navigation ------------------------------------------------------------------
$navbar-bg: $theme-red;

$footer-bg: rgba($theme-navy, 0.2);
$footer-fg: $theme-navy;

/*-- scss:rules --*/

// General ---------------------------------------------------------------------

.citation {
  a:hover {
    text-decoration: underline;
  }
}

// Headers ---------------------------------------------------------------------

#title-block-header.quarto-title-block.default .quarto-title .title {
  margin-bottom: 0.5em;
}

h1 {
  color: $theme-red;
  font-weight: 400;
  font-family: $font-family-serif;

  &.title {
    padding-top: 20px;
  }
}

h2 {
  text-transform: uppercase;
  font-size: 1.3em;
  letter-spacing: 1.5pt;
  color: $theme-navy;
  font-weight: 500;
}

h3 {
  font-size: 1.2em;
  color: $theme-navy;
  font-weight: 450;
}

// Navigation ------------------------------------------------------------------

.navbar {
  border-bottom: 1px solid;
  border-color: $theme-red;
  letter-spacing: 1pt;
  font-size: 90%;
  font-weight: 700;

  .navbar-brand {
    color: $theme-white;
    font-family: 'Ubuntu', monospace;
    font-weight: 700;
    font-size: 1.7rem;
    text-transform: lowercase;
  }

  .navbar-nav {
    align-items: center;
  }

  .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-nav .nav-link:focus {
    color: $theme-white;
    text-decoration: underline;
  }
}

.nav-footer {
  height: 92px;
  line-height: 20px;
  font-size: 17px;
  padding: 30px 5%;
  align-items: center;
}

// sidebar ---------------------------------------------------------------------

.sidebar-item .sidebar-item-container {
  padding-bottom: 10px;
}

.quarto-listing-category-title {
  color: $theme-red;
}

.quarto-listing-category .category {
  padding-bottom: 5px;

  &:hover {
    color: rgba($theme-red, 0.8);
  }

  &.active {
    color: rgba($theme-red, 1);
  }
}

// footer ----------------------------------------------------------------------

$footer-bg: rgba($theme-navy, 0.2);
$footer-fg: $theme-navy;

.nav-footer {
  align-items: flex-start; // Align all flex items to the top
  flex-wrap: wrap;
  border: 0 !important;
  min-height: 3em;
  font-family: $footer-font-family;
  padding: 10px 5%;

  a {
    color: $theme-navy;
  }

  .faux-block {
    display: block;
    padding-bottom: 0.4em;
  }

  .fingerprint {
    font-family: $font-family-monospace;
    font-size: 0.8em;
  }

  // In the default Quarto template, .nav-footer-center has position: absolute
  // turned on, which makes the div not be a flex item
  // This changes that so that it *is* a flex item
  .nav-footer-center {
    text-align: center;
    position: inherit;
    margin-top: 0;

    @media (max-width: map-get($grid-breakpoints, md)) {
      margin-top: 0.5em;
      margin-bottom: 1.5em;
    }
  }

  // When the screen is medium or smaller, make each footer chunk be 100% width
  // and centered; otherwise make them be 33% width and left/right/centerd
  .nav-footer-left,
  .nav-footer-right,
  .nav-footer-center {
    text-align: center;
    width: 100%;
    min-height: 2em;
  }

  @media (min-width: map-get($grid-breakpoints, md)) {
    .nav-footer-left {
      text-align: left;
    }

    .nav-footer-right {
      text-align: right;
    }

    .nav-footer-left,
    .nav-footer-right,
    .nav-footer-center {
      flex: 1 1 33%;
    }
  }
}

// Blog ------------------------------------------------------------------------
//// Listing page
div.quarto-post {

  h3.listing-title {

    a {
      color: $theme-navy !important;
    }
  }
}

.quarto-post .listing-categories {
  .listing-category {
    border-color: $theme-navy !important;
    opacity: 1;
    color: $theme-navy !important;
  }


  .listing-category:hover {
    background-color: $theme-navy;
    border-color: $theme-navy;
    color: $theme-blue !important;
  }
}

//// Posts
.quarto-title-block .quarto-title-banner {
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;

  div.quarto-title {

    h1.title {
      color: $theme-navy;
    }

    div.description {
      display: none;
    }
  }
}

.quarto-title .quarto-categories {
  .quarto-category {
    border-color: $theme-navy;
    opacity: 1;

    a {
      color: $theme-navy;
    }
  }

  .quarto-category:hover {
    background-color: $theme-navy;
    border-color: $theme-navy;

    a {
      color: $theme-blue;
    }
  }
}

.quarto-title-block,
.quarto-title-meta {
  .quarto-title-meta-contents .doi::before {
    content: "";
    background-image: url(/files/doi.svg);
    background-size: 1.1em;
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    margin-bottom: -3px;
  }
}

div.columns.v-center {
  display: flex;
  align-items: center;
}

// Team listing ----------------------------------------------------------------
.team {
  .team-entry {
    display: flex;
    flex-direction: row;
    font-family: $headings-font-family;
    line-height: 1.3;
    margin-bottom: 1.5em;
    column-gap: 1em;

    .body {
      flex: 1 1 auto;
    }

    .thumbnail {
      flex: 0 0 10%;

      img {
        width: 100%;
        object-fit: contain;
        max-height: 150px;
        border-radius: 10%;
      }
    }

    .title {
      font-weight: 500;
      font-size: 1.3em;
      margin-bottom: 0.2em;
      line-height: 1.2;

      a {
        color: $theme-navy;
      }
    }

    .description {
      font-weight: 300;
      font-size: 1em;
      margin-bottom: 0.3em;
    }

    .about-links {
      display: flex;
      flex-wrap: wrap;
      row-gap: 0.4em;
      column-gap: 0.4em;
      margin: 0.5em 0;

      .about-link {
        color: $theme-navy;
        border: 1px solid $theme-navy;
        border-radius: 0.25rem;
        font-size: 0.65em;
        padding: 0.15em 0.5em;
        cursor: pointer;
      }

      .about-link:hover {
        background-color: $theme-navy;
        border-color: $theme-navy;
        color: $theme-blue;
      }
    }
  }
}

div.quarto-about-trestles {
  .about-entity {
    padding-right: 3em;

    img.about-image {
      object-fit: contain !important;
      width: 100% !important;
    }

    .about-link {
      color: $theme-navy;
      border-color: $theme-navy;
    }

    .about-link:hover {
      background-color: $theme-navy;
      border-color: $theme-navy;
      color: $theme-blue;
    }
  }

  .about-contents {
    padding-left: 3em;
    font-size: 95%;
  }
}

// Bracketed TOC for get started pages -----------------------------------------

// :not(.toc-active) makes it so only get-started pages are selected
#TOC:not(.toc-active) {
  padding: 1em;
  position: relative;

  a {
    text-transform: uppercase;
    letter-spacing: 2pt;
    font-size: 0.8rem !important;
    font-weight: bold;
    color: rgba($theme-red, 0.8);
  }

  ul {
    margin-bottom: 0px;

    li {
      padding-bottom: 0.5em;

      &::marker {
        color: $theme-red;
      }
    }
  }

  &:after,
  &:before {
    border: 1pt solid rgba($theme-red, 0.2);
    bottom: 0;
    content: '';
    position: absolute;
    top: 0;
    width: 2.5%;
  }

  &:after,
  &:after {
    border-left: none;
    right: 0;
  }

  &:before,
  &:before {
    border-right: none;
    left: 0;
  }
}

// code ------------------------------------------------------------------------

// code chunks
div.sourceCode {
  background-color: $theme-code-bg;
  border: 1px solid $theme-code-bg;
  border-radius: 0.25rem
}

// in-line code
p code:not(.sourceCode),
li code:not(.sourceCode),
td code:not(.sourceCode) {
  color: $theme-navy;
  background-color: $theme-code-bg;
  padding: 0.2em;
}

// scrollable code output
pre.scroll-output {
  @extend div, .sourceCode;

  max-height: 500px;
  overflow-y: auto;
  color: #5E5E5E;
}

// session information ---------------------------------------------------------

#session-info div pre code {
  color: #5E5E5E;
  background-color: $theme-code-bg;
  border: 1px solid $theme-code-bg;
  border-radius: 0.25rem;
}

// tables as output ------------------------------------------------------------

.cell-output-display table {
  border-collapse: collapse;
  border-spacing: 0;
  font-weight: inherit;
  width: 100%;
  text-align: left;
  font-size: .87rem;
  max-width: 70%;

  thead {
    font-weight: 600;
    background-color: rgba($theme-red, 0.15);

    tr th {
      padding: 15px 13px;
    }

    tr th:last-child {
      padding: 15px 0;
      padding-right: 15px;
    }
  }

  tbody {
    tr:nth-of-type(even)>* {
      background-color: rgba($theme-red, 0.03);
      --bs-table-accent-bg: rgba($theme-red, 0.03);
    }

    tr:nth-of-type(odd)>* {
      background-color: $theme-white;
      --bs-table-accent-bg: $theme-white;
    }

    tr:last-of-type {
      border-bottom: 1px solid #edf1f8;
    }

    tr td {
      padding: 15px;
    }

    tr td:last-child {
      padding: 15px 0;
      padding-right: 15px;
    }
  }
}
