<div class="quarto-about-trestles">
  <div class="about-entity">
    <img src="<%= about.image %>" class="about-image rounded " style="width: 20em;">

    <%= about.title %>

    <% if (about.links) { %>
    <div class="about-links">
      <% for (const link of about.links) { %>
      <a href="<%= link.href %>" class="about-link" rel="<%= link.rel %>" target="<%= link.target %>">
        <i class="<%= link.icon %>"></i>
        <span class="about-link-text"><%= link.text %></span>
      </a>
      <% } %>
    </div>
    <% } %>
  </div>

  <div class="about-contents"><%= about.body %></div>
</div>
